@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
    margin: 20px;
    display:flex;
}

.flex-spacer{
  flex: 1 1 auto;
}

.highlight {
  background-color: rgba(169, 27, 169, 0.71);
  border: 1px solid purple;
  z-index: 1;
  transform: scale(1.01);
  transition: 1s;
}
